* {
  margin: 0;
  font-family: "Work Sans";
}

.header {
  background: #ffffff;
  background-image: url("../images/banner/banner3.png");
  max-width: 1600px;
  height: 808px;
}
.banner {
  text-align: right;
}
.banner-title {
  font-weight: 700;
  font-size: 65px;
  color: #ffffff;

  padding: 216px 230px 24px 845px;
}
.banner-description {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;

  padding: 0 230px 32px 875px;
}

.btn-primary {
  width: 160px;
  height: 64px;
  border-color: #ffffff;
  border: 0;
  border-radius: 5px;
  padding: 20px 25px;
  font-weight: 600;
  font-size: 20px;
  color: #005fac;
  margin: 0 230px 166px 875px;
}

/* previous year section */
.previous-year-content {
  display: flex;
  gap: 85px;
  color: rgb(255, 255, 255);
}

.previous-year-image {
  width: 40%;
  height: 600px;
  margin-left: 150px;
  margin-top: 150px;
}

.previous-year {
  margin-top: 400px;
}
.previous-year-title {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  margin-bottom: 24px;
  width: 288px;
  height: 94px;
}
.previous-year-description {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  line-height: 1.4em;
  width: 416px;
  height: 104px;
}

.checkmark-description {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  list-style: none;
  margin-left: -38px;
  margin-top: -15px;
  line-height: 1.8em;
}
.check-mark {
  color: #16d887;
  font-weight: 700;
}
