* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

.header {
  background: #ffffff;
  background-image: url("../images/banner/banner3.png");
  max-width: 1600px;
  height: 808px;
}
.banner {
  text-align: right;
}
.banner-title {
  font-weight: 700;
  font-size: 65px;
  color: #ffffff;

  padding: 216px 230px 24px 845px;
}
.banner-description {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;

  padding: 0 230px 32px 875px;
}

.btn-primary {
  width: 160px;
  height: 64px;
  border-color: #ffffff;
  border: 0;
  border-radius: 5px;
  padding: 20px 25px;
  font-weight: 600;
  font-size: 20px;
  color: #005fac;
  margin: 0 230px 166px 875px;
}

/* previous year section */

.previous-year-content {
  display: flex;
  gap: 85px;
  color: rgb(255, 255, 255);
}

.previous-year-image {
  width: 40%;
  height: 600px;
  margin-left: 150px;
  margin-top: 150px;
}

.previous-year {
  margin-top: 400px;
}
.previous-year-title {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  margin-bottom: 24px;
  width: 288px;
  height: 94px;
}
.previous-year-description {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  line-height: 1.4em;
  width: 416px;
  height: 104px;
}

.checkmark-description {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  list-style: none;
  margin-left: -38px;
  margin-top: -15px;
  line-height: 1.8em;
}
.check-mark {
  color: #16d887;
  font-weight: 700;
}
/* my plans */

.my-plane {
  margin: 180px;
}
.my-plane h2 {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #151414;
  margin-top: 200px;
}

.plane-items {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 130px;
}
.plane-list img {
  margin-bottom: 25px;
}
.plane-list-title {
  font-weight: 700;
  font-size: 30px;
  color: #151414;
}
.plane-list-description {
  font-weight: 500;
  font-size: 25px;
  color: #737272;
}
/* Hobbby list */

.my-hobby-container h6 {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  text-align: center;
  margin-bottom: 100px;
}

.my-hobby {
  display: flex;

  justify-content: space-between;
  margin: 100px;
}
.hobby-list p {
  font-weight: 700;
  font-size: 25px;
  color: #151414;
  margin-top: 25px;
  text-align: center;
}
.shadow-effect {
  box-shadow: 10px 10px 5px rgb(105, 102, 102);
}

/* call now area */
.btn-primary-2 {
  width: 160px;
  height: 64px;
  border-color: #ffffff;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  color: #005fac;
  margin-bottom: 60px;
  margin-left: 65px;
}

.call-now-container {
  background: linear-gradient(90deg, #005fac 0%, rgba(0, 95, 172, 0) 100%),
    url(../images/watch.png);
  border-radius: 8px;
  margin: 100px 200px;
  padding: 30px 440px 50px 35px;
  width: 660px;
  height: 220px;
}
.call-now-area h3 {
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
  margin-bottom: 25px;
  margin-top: 60px;
  margin-left: 65px;
}
/* footer section */
.footer {
  display: flex;
  background: #151414;
  justify-content: space-between;
  padding: 120px 200px;
}
.footer-items h2 {
  font-weight: 700;
  font-size: 45px;
  color: #f8f8f8;
  margin-bottom: 16px;
}

.footer-items p {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  width: 485px;
  height: 78px;
  margin-bottom: 5px;
}
.icon-pad {
  padding-right: 15px;
}
.Subscribe-item h2 {
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
  margin-bottom: 30px;
}
.Subscribe-item input {
  padding: 20px 158px 20px 20px;
  background: #151414;
  border: 2px solid white;
  border-radius: 10px;
  margin-bottom: 15px;
}
.btn-primary-3 {
  background: #005fac;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  padding: 20px 35px;
}
